[Desktop Entry]
Type=Application
Exec=sh -c "xmodmap /home/mishakos/.keyboard"
Hidden=false
X-GNOME-Autostart-enabled=true
Name=xmodmap
Comment=xmodmap script
